/* START LOG IN PAGE */
.login-page { 
	background: url('../img/slider/01.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
  	bottom: 0;
  	top: 0;
  	left: 0;
  	right: 0;
}

.login-page .panel-default {
	opacity: 0.97;
	filter: alpha(opacity=97);
	-moz-opacity: 0.97;
	-khtml-opacity: 0.97;
	margin-top:30px;
}
.login-page .form-group.last { margin-bottom:0px; }
.dialog-login-user{
	margin-top: 30px;
}
.login-page .logo-img{
	background-image: url('../img/logo.png');
	width: 201px;
	height: 105px;
	cursor: pointer;
}

/* END LOG IN PAGE */

/*START REGISTER PAGE */
.ng-scope.login-page.register-page{
	position: absolute;
  	bottom: 0;
  	top: 0;
  	left: 0;
  	right: 0;
}
.register-page .new-user{
	background-color: #fff;
    width:300px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-130px 0 0 -150px;
    border-radius: 20px;
    padding: 10px;
}
.register-page body{
    background-color: #525252;
    color: 003333;
}
.register-page .centered-form{
	margin-top: 60px;
}

.register-page .centered-form .panel{
	background: rgba(255, 255, 255, 0.7);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.register-page .panel-title i{
	display: inline-block;
}
.register-page .panel-title i:first-letter{
	text-transform: uppercase;
	color:#ffcc33;
	font-weight: bold;
}
.register-page .logo-img{
	background-image: url('../img/logo.png');
	width: 201px;
	height: 105px;
	cursor: pointer;
}


/* END REGISTER PAGE */