<div class="overlay-box">
	<p class="investors">Investors<a href="#"></a></p>
	<div class="stock-info">
		<a href="#" class="stock-info-link"></a>
		<p class="stock-info-title">PGN</p>
		<p class="stock-info-volume">Volume {{item.volume}}</p>
		<p class="stock-info-value">
			<span class="val1">{{item.value1}}</span>
			<span class="val2">
				{{item.value2}}<span class="val3">change</span>
			</span>
		</p>
		<p class="stock-info-wk">
			<span class="val1">{{item.wk.hight}} Wk high</span>
			<span class="val2">{{item.wk.low}} wk low</span>
		</p>
		<p class="stock-info-nyse"><b>NYSE</b>    03.15.14 10:50 AM ET – Delayed 20 minutes</p>
	</div>
	<div class="inv-news" ng-if="item.posts">
		<ul>
			<li ng-repeat="post in item.posts">
				<p class="inv-news-date">
					<span>{{post.date | date : yyyy-MM-dd }}</span>
				</p>
				<p class="inv-news-text">
					<span>{{post.text | cutTextInInvestorPost}}</span>
					<div ng-if="post.text && post.text.length >= 50 ">
						<div ng-class="'all-post'">
							<a ng-href="#/text={{post.text}}&date={{post.date}}.html">All post</a>
						</div>
					</div>
				</p>
			</li>
		</ul>
	</div>
	<p class="more-investor-news">
		<b>More inverstor news</b><a href="/#/"></a>
	</div>
</div>