<div data-ng-controller="loginCtrl" data-ng-class="'login-page'">
	<div data-ng-class="'dialog-login-no-user'" data-ng-if="!currentUser">
		<div data-ng-class="'login-fields'">
			<div class="container">
			    <div class="row">
			        <div class="col-md-4 col-md-offset-7">
			            <div class="panel panel-default">
			                <div class="panel-heading">
			                    <span class="glyphicon glyphicon-lock"></span> Login</div>
			                <div class="panel-body">
			                    <form class="form-horizontal" role="form" ng-submit="checkUser(username, pass)" name="loginForm">
			                    <div class="form-group">
			                        <label for="username" class="col-sm-3 control-label">
			                            Name</label>
			                        <div class="col-sm-9">
			                            <input type="text" data-ng-class="'form-control'" id="username" placeholder="Name" name="username" data-ng-model="username" value="username" autocomplete="on" autofocus required>
			                        </div>
			                        <span ng-show="(loginForm.username.$dirty) && loginForm.username.$error.required" data-ng-class="'validation-field'">Can't be empty!</span>
			                    </div>
			                    <div class="form-group">
			                        <label for="pass" class="col-sm-3 control-label">
			                            Password</label>
			                        <div class="col-sm-9">
			                            <input type="password" name="pass" data-ng-class="'form-control'" data-ng-model="pass"  placeholder="Password" required>
			                        </div>
			                        <span ng-show="(loginForm.pass.$dirty) && loginForm.pass.$error.required" data-ng-class="'validation-field'">Can't be empty!</span>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-sm-offset-3 col-sm-9">
			                            <div class="checkbox">
			                                <label data-ng-click="rememberMe()">
			                                    <input type="checkbox" data-ng-model="checkboxRemember" name="rememberMe"/>
			                                    Remember me
			                                </label>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="form-group last">
			                        <div class="col-sm-offset-3 col-sm-9">
			                            <button type="submit" class="btn btn-success btn-sm">
			                                Sign in</button>
			                                 <button type="reset" class="btn btn-default btn-sm">
			                                Reset</button>
			                        </div>
			                    </div>
			                    </form>
			                </div>
			                <div class="panel-footer">
			                    Not Registred? <a data-ng-href="/#/register/" data-ng-click="registerUser(username, pass);">Register here</a></div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>

	<div data-ng-class="'dialog-login-user'" data-ng-if="currentUser">
		<div class="container">
		    <div class="row">
		        <div class="col-sm-6 col-md-offset-3">
		            <div class="alert alert-success">
		               <span class="glyphicon glyphicon-ok"></span> <strong>You are logged as <a data-ng-href="/#/{{currentUser}}/">{{currentUser}}</a> !</strong>
		                <hr class="message-inner-separator">
		                <p>
		                	<ul ng-class="'nav nav-stacked'">
		                		<input value="Log out" ng-click="logOut();" data-ng-class="'btn btn-info btn-block'">
							</ul>
						</p>
		            </div>
		        </div>
		        <div>
    				<div class="col-md-12 col-md-6 col-md-offset-5 logo-img" data-ng-click="redirect();"></div>
    			</div>
		    </div>
		</div>	
	</div>
</div>
