<div data-ng-controller="loginCtrl" data-ng-class="'login-page'">
	<div data-ng-class="'dialog-login-no-user'" data-ng-if="!currentUser">
		<h2>Paragone Login</h2>
		<div data-ng-class="'login-fields'">
			<form method="post" ng-submit="checkUser(username, pass)" name="loginForm">
				<span data-ng-class="'login-title'">username</span>
				<p>
					<input type="text" name="username" data-ng-model="username" value="username" placeholder="username" data-ng-class="'form-control'" autocomplete="on" autofocus required>
					<span ng-show="(loginForm.username.$dirty) && loginForm.username.$error.required">
				</p>
				<span data-ng-class="'login-title'">password</span>
				<p>
					<input type="password" name="pass" data-ng-class="'form-control'" data-ng-model="pass"  placeholder="password" required>
					<span ng-show="(loginForm.pass.$dirty) && loginForm.pass.$error.required">
				</p>
				<P>
					<input type="checkbox" data-ng-model="checkboxRemember" name="rememberMe" value=""><a data-ng-click="rememberMe()" data-ng-class="'remember-me'">Remember me !</a> 
				</P>
				<p><a data-ng-href="/#/register/" data-ng-click="registerUser(username, pass);">Create new account</a></p>
				<button type="submit" data-ng-class="'btn-primary sing-in'" role="link">Log In</button>
			</form>
		</div>
	</div>
	<div data-ng-class="'dialog-login-user'" data-ng-if="currentUser">
		<p>
			<span><span ng-class="'first-l'">You</span> are logged as <a data-ng-href="/#/{{currentUser}}/">{{currentUser}}</a> !</span>
		</p>
		<ul ng-class="'nav nav-stacked'">
			<li role="presentation"><a data-ng-href="/#/" ng-click="logOut();">log out</a></li>
			<li role="presentation"><a data-ng-href="/#/">home</a></li>
		</ul>
	</div>
</div>
