<div ng-controller="CarouselDemoCtrl">
	<div ng-class="caruselHeight">
		<carousel interval="myInterval">
  			<slide ng-repeat="item in investorData.investorer" active="item.active" ng-style='{"height":"575px"}'>
    			<img ng-src="{{item.image}}" class="main-photo">
				<div class="container" ng-style='{"margin-top":"-500px"}'>
					<div class="row">
						<div class="col-md-6">
							<news-block></news-block>
						</div>
						<div class="col-md-6">
							<investor-block></container-block>
						</div>
					</div>
				</div>
  			</slide>
		</carousel>
	</div>
</div>