<div data-ng-class="'login-page register-page'" ng-controller="registerCtrl">
	<div class="container">
        <div class="row centered-form">
        <div class="col-md-12 col-md-6 col-md-offset-3">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Please fill in <i>registration</i> form</h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form" type="POST" ng-click="register()" name="register">
			    			<div class="row">
			    				<div class="col-xs-6">
			    					<div data-ng-class="'form-group'">
			                			<input type="text" data-ng-model="first_name" name="first_name" id="first_name" data-ng-class="'form-control'" placeholder="First Name" autofocus required>
			    					</div>
			    				</div>
			    				<div class="col-xs-6 ">
			    					<div class="form-group">
			    						<input type="text" data-ng-model="last_name" name="last_name" id="last_name" data-ng-class="'form-control'" placeholder="Last Name" required>
			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group">
			    				<input type="email" data-ng-model="email" name="email" id="email" data-ng-class="'form-control'" placeholder="Email Address" required>
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 ">
			    					<div class="form-group">
			    						<input type="password" data-ng-model="password" name="password" id="password" data-ng-class="'form-control'" placeholder="Password" required>
			    					</div>
			    				</div>
			    				<div class="col-xs-6 ">
			    					<div class="form-group">
			    						<input type="password" data-ng-model="password_confirmation" name="password_confirmation" id="password_confirmation" data-ng-class="'form-control'" placeholder="Confirm Password" required>
			    					</div>
			    				</div>
			    			</div>
			    			
			    			<input type="submit" value="Register" data-ng-class="'btn btn-info btn-block'">
			    		
			    		</form>
			    	</div>
	    		</div>
    		</div>
    		<div ng-class="'row'"class>
    			<div class="col-md-12 col-md-6 col-md-offset-5 logo-img"></div>
    		</div>
    	</div>
    </div>
</div> 